name: auto-assign
on:
  pull_request:
    types: [opened, ready_for_review, reopened]
permissions:
  contents: read
  pull-requests: write
  issues: write
jobs:
  add-reviewers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Auto-assign reviewers and assignees
        uses: kentaro-m/auto-assign-action@v2.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/auto-assign.yml
